---
interface Props {
  title: string;
  titleSize: string;
  titleSizeMobile: string;
  subtitle: string;
  subtitleSize: string;
  subtitleSizeMobile: string;
}

const { title, titleSize, titleSizeMobile, subtitle, subtitleSize, subtitleSizeMobile } = Astro.props;
---

<section class="py-12">
  <div class="flex flex-col items-center">
    <div class="container">
      <h1 class={`title ${titleSize} ${titleSizeMobile}`}>
        {title}
      </h1>
      <h2 class={`subtitle ${subtitleSize} ${subtitleSizeMobile}`}>
        {subtitle}
      </h2>
    </div>
  </div>
</section>
